@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PTSans';
    src:
        local('PT Sans'),
        url(/fonts/PTSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'PTSans';
    font-weight: 700;
    src:
        local('PT Sans Bold'),
        url(/fonts/PTSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'PTSansCaption';
    src:
        local('PT Sans Caption'),
        url(/fonts/PTSansCaption-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'PTSerif';
    src:
        local('PT Serif'),
        url(/fonts/PTSerif-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'PTSerif';
    font-weight: 700;
    src:
        local('PT Serif Bold'),
        url(/fonts/PTSerif-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'PTSerif';
    font-style: italic;
    src:
        local('PT Serif Italic'),
        url(/fonts/PTSerif-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'PTSerif';
    font-weight: 700;
    font-style: italic;
    src:
        local('PT Serif Bold Italic'),
        url(/fonts/PTSerif-BoldItalic.ttf) format('truetype');
}

html {
    @apply font-serif;
    @apply text-base;
    @apply text-red-900;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
}

h1 {
    @apply text-6xl;
    @apply font-bold;
    @apply leading-tight;
}

h2 {
    @apply text-3xl;
    @apply font-bold;
}

h3 {
    @apply text-xl;
}
